# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore environment variables
.env

# Ignore build output
dist/
build/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln